@font-face {
    font-weight: 400;
    font-family: 'Poppins';
    font-style: normal;
    src: url('./fonts/Poppins-Regular.ttf') format('truetype');
  }
  
@font-face {
    font-weight: 500;
    font-family: 'Poppins';
    font-style: normal;
    src: url('./fonts/Poppins-Medium.ttf') format('truetype');
  }

@font-face {
    font-weight: 600;
    font-family: 'Poppins';
    font-style: normal;
    src: url('./fonts/Poppins-SemiBold.ttf') format('truetype');
  }
  
@font-face {
    font-weight: 700;
    font-family: 'Poppins';
    font-style: normal;
    src: url('./fonts/Poppins-Bold.ttf') format('truetype');
  }
  
@font-face {
    font-family: 'icomoon';
    src: url('./fonts/icomoon/icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block; 
}

:root {
    --color-white: #ffff;
    --color-rectangle-176: #252525;
    --color-rectangle-26: #424242;
    --color-rectangle-178: #858585;
    --color-rectangle-28: #D2D2D2;
    --color-rectangle-177: #EDEDED;
    --color-rectangle-180: #E43071;
    --color-rectangle-179: #FFC1D8;
    --color-rectangle-183: #26D68A;
    --color-rectangle-182: #26D68A;
}

html, body {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    margin: 0 0;
}


.navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--color-rectangle-180);
}

.navigation__logo {
    display: flex;
}

.navigation__list {
    display: flex;
    flex-wrap: wrap;
    gap: 76px;
    list-style: none;
    color: var(--color-white)
}

.button {
    width: 166px;
    height: 56px;
    background-color: var(--color-white);
    color: var(--color-rectangle-180);
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    border: none;
    border-radius: 200px;
}

.invation {
    background-image: url(images/Female\ working\ out.png);
    background-color: #2D282433;
    background-size: cover;
    padding: 231px 331px;
}

.invation__title {
    font-weight: 700;
    font-size: 70px;
    line-height: 77px;
    color: var(--color-white);
    margin: 0;
}

.invation__content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 22px;
}

.button_pink {
    background-color: var(--color-rectangle-180);
    color: var(--color-white);
    width: 237px;
    height: 68px;
}

.meet {
    padding: 94px 140px 110px;
    display: flex;
    gap: 250px;
}

.meet__images {
    position: relative;
    display: flex;
}

.meet__image {
    width: 100%;
    max-width: 349px;
    height: 399px;
}

.meet__image-woman {
    width: 100%;
    max-width: 241px;
    height: 359px;
    position: absolute;
    top:100px; left: 150px;
}

.header {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: var(--color-rectangle-180);
    margin: 0;
    margin-top: 110px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 37px;
    color: var(--color-rectangle-26);
}

.button_border {
    border: 2px solid var(--color-rectangle-180);
    font-weight: 600;
    font-size: 16px;
    line-height: 37px;
}

.motivation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--color-rectangle-26);
    background-image: url(images/Woman\ doing\ situps.png);
    background-size: cover;
    padding: 231px 295px 331px;
}

.motivation__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.motivation__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
    color: var(--color-white);
    margin: 0;
}

.motivation__text {
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    text-align: center;
    color: var(--color-white);
}

.premium {
    display: flex;
    justify-content: center;
    padding-top: 224px;
    padding-left: 155px;
    padding-bottom: 108px;
    padding-right: 0px;
}

.premium__content {
    display: flex;
    padding-bottom: 150px;
}

.premium__header {
    margin: 0;
}

.premium__content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 145px;
}

.premium__images {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.premium__image-gym {
    position: relative;
    bottom: 100px; left: 200px;
}


.premium__image-weights {
    position: relative;
    top: 50px; right: 100px;
    z-index: -1;
}

.header_dark {
    color: var(--color-rectangle-26);
}

.stories {
    padding-top: 126px;
    padding-left: 254px;
    padding-right: 258px;
    padding-bottom: 140px;
    background: linear-gradient(white, white, pink);
}

.stories__content {
    display: flex;
    gap: 33px;
}

.stories__content-customers {
    background-color: var(--color-white);
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(209, 209, 192);
    padding: 30px 32px;
}

.content__header {
    margin: 0;
    font-size: 38px;
    line-height: 45px;
}

.stories__header {
    margin: 0;
}

.stories__customers {
    display: flex;
    gap: 17px;
    align-items: center;
}

.stories__content-james {
    width: 349px;
    height: max-content;
    position: relative;
    left: 220px;
}

.stories__content-mary {
    width: 449px;
    height: max-content;
    position: relative;
    bottom: 130px; left: 220px;
}

.stories__content-robert {
    width: 351px;
    height: max-content;
    position: relative;
    top: 250px; right: 190px;
}

.customers__image {
    width: 100%;
    max-width: 59px;
    height: 57px;
}

.header_name {
    margin: 0;
}

.text_grey {
    margin: 0;
}

.stories__title {
    display: flex;
    flex-direction: column;
    width: 414px;
    height: 200px;
    position: relative;
    left: 110px;
}

.app {
    background-color: var(--color-rectangle-180);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 280px;
    padding-top: 112px;
    padding-right: 147px;
    padding-bottom: 0;
}

.header_white {
    color: var(--color-white);
    margin: 0;
}

.text_white {
    color: var(--color-white);
}

.app__content {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: flex-start;
}

.app__list {
    display: flex;
    list-style: none;
    gap: 10px;
    padding: 0;
}

.app__images-container {
    display: flex;
    align-items: flex-end;
    padding: 0;
    position: relative;
}

.app__image-phone {
    position: relative;
    bottom: 170px;
}

.app__image-iphone {
    height: max-content;
}

.social {
    background-color: var(--color-rectangle-28);
    padding: 60px 460px 60px 460px;
}

.social__header {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 93px;
}

.social__link-facebook,
.social__link-youtube,
.social__link-instagram {
    background-color: var(--color-white);
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

.inst {
    position: relative;
    top: 40px; left: 40px;
}
.facebook,
.youtube {
    position: relative;
    top: 40px; left: 45px;
}